<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name='thumbnail' content='../media/thumbnail.png' />
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <link rel='stylesheet' type='text/css' href='main.css'>
    <link rel='shortcut icon' type='image/png' href='../media/thumbnail.png'>
    <script defer src="script.js"></script>
    <title>Chile</title>
</head>

<body>

    <header>
        <a href='../index.html'><img src='../media/thumbnail.png' alt='huaqo' height='50'></a>
    </header>

    <main>
        <h2>Chile</h2>
        <p>2018</p>
        <p>A collection of photos of our travels in Chile in 2018. We stayed there for a few months. Mainly on Chiloe in the South.</p>
        <img src="../media/chile/1.jpeg">
        <img src="../media/chile/2.jpeg">
        <img src="../media/chile/3.jpeg">
        <img src="../media/chile/4.jpeg">
        <img src="../media/chile/5.jpeg">
        <img src="../media/chile/6.jpeg">
        <img src="../media/chile/7.jpeg">
        <img src="../media/chile/8.jpeg">
        <img src="../media/chile/9.jpeg">
        <img src="../media/chile/10.jpeg">
        <img src="../media/chile/11.jpeg">
        <img src="../media/chile/12.jpeg">
        <img src="../media/chile/13.jpeg">
        <img src="../media/chile/14.jpeg">
        <img src="../media/chile/15.jpeg">
        <img src="../media/chile/16.jpeg">
        <img src="../media/chile/17.jpeg">
        <img src="../media/chile/18.jpeg">
        <img src="../media/chile/19.jpeg">
        <img src="../media/chile/20.jpeg">
        <img src="../media/chile/21.jpeg">
        <img src="../media/chile/22.jpeg">
        <img src="../media/chile/23.jpeg">
        <img src="../media/chile/24.jpeg">
        <img src="../media/chile/25.jpeg">
        <img src="../media/chile/26.jpeg">
        <img src="../media/chile/27.jpeg">
        <img src="../media/chile/28.jpeg">
    </main>
    <footer>
        <hr />
        <span style='float:right'>
            <a href='impressum.html'>[Impressum]</a>
            <br/>
        </span>
        <b>huaqo</b> © 2023
    </footer>
</body>
