<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name='thumbnail' content='../media/thumbnail.png' />
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <link rel='stylesheet' type='text/css' href='../newcss.css'>
    <link rel='shortcut icon' type='image/png' href='../media/thumbnail.png'>
    <script defer src="script.js"></script>
    <title>Peru</title>
</head>

<body>

    <header>
    </header>
    
    <main>
        <h2>Peru</h2>
        <p>2018</p>
        <p>A collection of photos of our travels in Peru in 2018. We stayed there for a month. Mainly in the Mountain areas.</p>
        <img src="../media/peru/1.jpeg">
        <img src="../media/peru/2.jpeg">
        <img src="../media/peru/3.jpeg">
        <img src="../media/peru/4.jpeg">
        <img src="../media/peru/5.jpeg">
        <img src="../media/peru/6.jpeg">
        <img src="../media/peru/7.jpeg">
        <img src="../media/peru/8.jpeg">
        <img src="../media/peru/9.jpeg">
        <img src="../media/peru/10.jpeg">
        <img src="../media/peru/11.jpeg">
        <img src="../media/peru/12.jpeg">
        <img src="../media/peru/13.jpeg">
        <img src="../media/peru/14.jpeg">
        <img src="../media/peru/15.jpeg">
        <img src="../media/peru/16.jpeg">
        <img src="../media/peru/17.jpeg">
        <img src="../media/peru/18.jpeg">
        <img src="../media/peru/19.jpeg">
        <img src="../media/peru/20.jpeg">
        <img src="../media/peru/21.jpeg">
        <img src="../media/peru/22.jpeg">
        <img src="../media/peru/23.jpeg">
        <img src="../media/peru/24.jpeg">
        <img src="../media/peru/25.jpeg">
        <img src="../media/peru/26.jpeg">
        <img src="../media/peru/27.jpeg">
        <img src="../media/peru/28.jpeg">
        <img src="../media/peru/28.jpeg">
        <img src="../media/peru/30.jpeg">
        <img src="../media/peru/31.jpeg">
        <img src="../media/peru/32.jpeg">
        <img src="../media/peru/33.jpeg">
        <img src="../media/peru/34.jpeg">
        <img src="../media/peru/35.jpeg">
        <img src="../media/peru/36.jpeg">
        <img src="../media/peru/37.jpeg">
        <img src="../media/peru/38.jpeg">
        <img src="../media/peru/39.jpeg">
        <img src="../media/peru/41.jpeg">
        <img src="../media/peru/42.jpeg">
        <img src="../media/peru/43.jpeg">
    </main>

</body>
