<header class="header">
    <h2 class="visually-hidden">Header</h2>
    <div class="wrapper">
        <nav class="header__nav">
            <h2 class="visually-hidden">Navigation</h2>
            <a href="/" class="header__home">
                Portfolio
                <span class="visually-hidden">(to home page)</span>
            </a>
            <a href="/blog" class="header__home">
                Blog
                <span class="visually-hidden">(to blog)</span>
            </a>
            <a href="/docs" class="header__home">
                Docs
                <span class="visually-hidden">(to docs)</span>
            </a>
        </nav>
    </div>
</header>
