<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name='thumbnail' content='../media/thumbnail.png' />
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <link rel='stylesheet' type='text/css' href='main.css'>
    <link rel='shortcut icon' type='image/png' href='../media/thumbnail.png'>
    <script defer src="script.js"></script>
    <title>Baruth-Mark</title>
</head>

<body>

    <header>
        <a href='../index.html'><img src='../media/thumbnail.png' alt='huaqo' height='50'></a>
    </header>

    <main>
        <h2>Baruth-Mark</h2>
        <p>24.10.2021</p>
        <p>Autumn impressions.</p>
        <img src="../media/baruth-mark/4G2A4087.jpg">
        <img src="../media/baruth-mark/4G2A4090.jpg">
        <img src="../media/baruth-mark/4G2A4195.jpg">
        <img src="../media/baruth-mark/4G2A4197.jpg">
        <img src="../media/baruth-mark/4G2A4198.jpg">
        <img src="../media/baruth-mark/4G2A4199.jpg">
        <img src="../media/baruth-mark/4G2A4201.jpg">
    </main>
    <footer>
        <hr />
        <span style='float:right'>
            <a href='impressum.html'>[Impressum]</a>
            <br/>
        </span>
        <b>huaqo</b> © 2023
    </footer>
</body>
