<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name='thumbnail' content='../media/thumbnail.png' />
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <link rel='stylesheet' type='text/css' href='main.css'>
    <link rel='shortcut icon' type='image/png' href='../media/thumbnail.png'>
    <script defer src="script.js"></script>
    <title>Fangschleuse</title>
</head>

<body>

    <header>
        <a href='../index.html'><img src='../media/thumbnail.png' alt='huaqo' height='50'></a>
    </header>

    <main>
        <h2>Fangschleuse</h2>
        <p>30.10.2022</p>
        <p>Autumn walk at Fangschleuse in Brandenburg</p>
        <img src="../media/fangschleuse/fangschleuse - 2.jpeg">
        <img src="../media/fangschleuse/fangschleuse - 3.jpeg">
        <img src="../media/fangschleuse/fangschleuse - 1.jpeg">
        <img src="../media/fangschleuse/fangschleuse - 5.jpeg">
        <img src="../media/fangschleuse/fangschleuse - 6.jpeg">
        <img src="../media/fangschleuse/fangschleuse - 7.jpeg">
        <img src="../media/fangschleuse/fangschleuse - 9.jpeg">
        <img src="../media/fangschleuse/fangschleuse - 10.jpeg">
        <img src="../media/fangschleuse/fangschleuse - 4.jpeg">
        <img src="../media/fangschleuse/fangschleuse - 8.jpeg">
        <img src="../media/fangschleuse/fangschleuse - 11.jpeg">
    </main>
    <footer>
        <hr />
        <span style='float:right'>
            <a href='impressum.html'>[Impressum]</a>
            <br/>
        </span>
        <b>huaqo</b> © 2023
    </footer>
</body>
