<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name='thumbnail' content='../media/thumbnail.png' />
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <link rel='stylesheet' type='text/css' href='main.css'>
    <link rel='shortcut icon' type='image/png' href='../media/thumbnail.png'>
    <script defer src="script.js"></script>
    <title>Großer Lattsee</title>
</head>

<body>

    <header>
        <a href='../index.html'><img src='../media/thumbnail.png' alt='huaqo' height='50'></a>
    </header>

    <main>
        <h2>Großer Lattsee</h2>
        <p>14.08.2021</p>
        <p>Camping at a lake in Brandenburg</p>
        <img src="../media/großer_lattsee/1.jpeg">
        <img src="../media/großer_lattsee/2.jpeg">
        <img src="../media/großer_lattsee/3.jpeg">
        <img src="../media/großer_lattsee/4.jpeg">
        <img src="../media/großer_lattsee/5.jpeg">
        <img src="../media/großer_lattsee/6.jpeg">
        <img src="../media/großer_lattsee/7.jpeg">
        <img src="../media/großer_lattsee/8.jpeg">
    </main>
    <footer>
        <hr />
        <span style='float:right'>
            <a href='impressum.html'>[Impressum]</a>
            <br/>
        </span>
        <b>huaqo</b> © 2023
    </footer>
</body>
