<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name='thumbnail' content='../media/thumbnail.png' />
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <link rel='stylesheet' type='text/css' href='main.css'>
    <link rel='shortcut icon' type='image/png' href='../media/thumbnail.png'>
    <script defer src="script.js"></script>
    <title>Großtrappen</title>
</head>

<body>

    <header>
        <a href='../index.html'><img src='../media/thumbnail.png' alt='huaqo' height='50'></a>
    </header>

    <main>
        <h2>Großtrappen</h2>
        <p>11.11.2022</p>
        <p>On the look for the Großtrappen in a nature reserve in Brandenburg with Becca and PJ sometime in the spring.</p>
        <img src="../media/großtrappen/1.jpeg">
        <img src="../media/großtrappen/2.jpeg">
        <img src="../media/großtrappen/3.jpeg">
        <img src="../media/großtrappen/4.jpeg">
        <img src="../media/großtrappen/5.jpeg">
        <img src="../media/großtrappen/6.jpeg">
        <img src="../media/großtrappen/7.jpeg">
        <img src="../media/großtrappen/8.jpeg">
        <img src="../media/großtrappen/9.jpeg">
        <img src="../media/großtrappen/10.jpeg">
        <img src="../media/großtrappen/11.jpeg">
        <img src="../media/großtrappen/12.jpeg">
        <img src="../media/großtrappen/13.jpeg">
    </main>
    <footer>
        <hr />
        <span style='float:right'>
            <a href='impressum.html'>[Impressum]</a>
            <br/>
        </span>
        <b>huaqo</b> © 2023
    </footer>
</body>
