<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name='thumbnail' content='../media/thumbnail.png' />
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <link rel='stylesheet' type='text/css' href='main.css'>
    <link rel='shortcut icon' type='image/png' href='../media/thumbnail.png'>
    <script defer src="script.js"></script>
    <title>Koernerpark</title>
</head>

<body>

    <header>
        <a href='../index.html'><img src='../media/thumbnail.png' alt='huaqo' height='50'></a>
    </header>

    <main>
        <h2>Koernerpark</h2>
        <p>24.10.2021</p>
        <img src="../media/koernerpark/BDA16B0C-CA2D-498D-94C7-4EA5A131447A.jpeg">
        <img src="../media/koernerpark/4G2A4066.jpeg">
        <img src="../media/koernerpark/4G2A4052.jpeg">
        <img src="../media/koernerpark/4G2A4065.jpeg">
    </main>
    <footer>
        <hr />
        <span style='float:right'>
            <a href='impressum.html'>[Impressum]</a>
            <br/>
        </span>
        <b>huaqo</b> © 2023
    </footer>
</body>
