<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name='thumbnail' content='../media/thumbnail.png' />
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <link rel='stylesheet' type='text/css' href='main.css'>
    <link rel='shortcut icon' type='image/png' href='../media/thumbnail.png'>
    <script defer src="script.js"></script>
    <title>Pyrenees</title>
</head>

<body>

    <header>
        <a href='../index.html'><img src='../media/thumbnail.png' alt='huaqo' height='50'></a>
    </header>

    <main>
        <h2>Pyrenees</h2>
        <p>11.09.2022</p>
        <p>A geological field trip through the Pyrenees from source to sink.</p>
        <div class="grid">
            <img src="../media/pyrenees/4G2A5340.JPG">
            <img src="../media/pyrenees/IMG_4587.JPG">
            <img src="../media/pyrenees/4G2A5323.JPG">
            <img src="../media/pyrenees/4G2A5316.JPG">
            <img src="../media/pyrenees/4G2A5297.JPG">
            <img src="../media/pyrenees/4G2A5285.JPG">
            <img src="../media/pyrenees/4G2A5169.JPG">
            <img src="../media/pyrenees/4G2A5192.JPG">
            <img src="../media/pyrenees/4G2A5166.JPG">
            <img src="../media/pyrenees/4G2A5142.JPG">
            <img src="../media/pyrenees/4G2A5135.JPG">
            <img src="../media/pyrenees/IMG_4558.JPG">
            <img src="../media/pyrenees/4G2A5228.JPG">
            <img src="../media/pyrenees/4G2A5130.JPG">
            <img src="../media/pyrenees/4G2A5247.JPG">
            <img src="../media/pyrenees/4G2A5244.JPG">
            <img src="../media/pyrenees/4G2A5256.JPG">
            <img src="../media/pyrenees/4G2A5218.JPG">
            <img src="../media/pyrenees/4G2A5214.JPG">
            <img src="../media/pyrenees/4G2A5234.JPG">
            <img src="../media/pyrenees/4G2A5261.JPG">
            <img src="../media/pyrenees/4G2A5271.JPG">
            <img src="../media/pyrenees/4G2A5190.JPG">
            <img src="../media/pyrenees/4G2A5237.JPG">
            <img src="../media/pyrenees/4G2A5157.jpeg">
            <img src="../media/pyrenees/4G2A5199.JPG">
            <img src="../media/pyrenees/4G2A5217.JPG">
            <img src="../media/pyrenees/4G2A5126.JPG">
            <img src="../media/pyrenees/4G2A5327.JPG">
            <img src="../media/pyrenees/4G2A5318.JPG">
            <img src="../media/pyrenees/4G2A5332.JPG">
            <img src="../media/pyrenees/4G2A5172.JPG">
            <img src="../media/pyrenees/4G2A5108.JPG">
            <img src="../media/pyrenees/4G2A5121.JPG">
            <img src="../media/pyrenees/4G2A5330.JPG">
        </div>
    </main>
    <footer>
        <hr />
        <span style='float:right'>
            <a href='impressum.html'>[Impressum]</a>
            <br/>
        </span>
        <b>huaqo</b> © 2023
    </footer>
</body>
