{% include 'head.html' %}
{% include 'nav.html' %}
<main>
    <h2>Generative</h2>
    <img id="26042020" src="{{ url_for('static', filename='images/art_4.jpeg') }}" >
    <p>26.04.2020 | made with <a href="https://processing.org">Processing</a> and <a href="https://www.python.org">Python</a>.<br />
    <a href="#26042020" title="Permanent link">Link to image</a></p><br />
    <img id="18042020" src="{{ url_for('static', filename='images/art_3.gif') }}">
    <p>18.04.2020 | made with <a href="https://processing.org">Processing</a> and <a href="https://www.python.org">Python</a>.<br />
    <a href="#18042020" title="Permanent link">Link to image</a></p><br />
    <img id="16092018" src="{{ url_for('static', filename='images/art_2.jpeg') }}">
    <p>16.09.2018 | made with <a href="https://www.adobe.com/de/products/photoshop.html">Adobe Photoshop</a>.<br />
    <a href="#16092018" title="Permanent link">Link to image</a></p><br />
    <img id="27062018" src="{{ url_for('static', filename='images/art_1.jpeg') }}">
    <p>27.06.2018 | made with <a href="https://www.adobe.com/de/products/photoshop.html">Adobe Photoshop</a>.<br />
    <a href="#27062018" title="Permanent link">Link to image</a></p><br />
</main>
