<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name='thumbnail' content='../media/thumbnail.png' />
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <link rel='stylesheet' type='text/css' href='main.css'>
    <link rel='shortcut icon' type='image/png' href='../media/thumbnail.png'>
    <script defer src="script.js"></script>
    <title>Berlin 2019</title>
</head>

<body>

    <header>
        <a href='../index.html'><img src='../media/thumbnail.png' alt='huaqo' height='50'></a>
    </header>

    <main>
        <h2>Berlin</h2>
        <p>2019</p>
        <p>A collection of street photos i took over the year.</p>
        <img src="../media/Berlin2019/1.jpeg">
        <img src="../media/Berlin2019/2.jpeg">
        <img src="../media/Berlin2019/3.jpeg">
        <img src="../media/Berlin2019/4.jpeg">
        <img src="../media/Berlin2019/5.jpeg">
        <img src="../media/Berlin2019/6.jpeg">
        <img src="../media/Berlin2019/7.jpeg">
        <img src="../media/Berlin2019/8.jpeg">
        <img src="../media/Berlin2019/9.jpeg">
        <img src="../media/Berlin2019/10.jpeg">
        <img src="../media/Berlin2019/11.jpeg">
        <img src="../media/Berlin2019/12.jpeg">
        <img src="../media/Berlin2019/13.jpeg">
        <img src="../media/Berlin2019/14.jpeg">
        <img src="../media/Berlin2019/15.jpeg">
        <img src="../media/Berlin2019/16.jpeg">
        <img src="../media/Berlin2019/17.jpeg">
        <img src="../media/Berlin2019/18.jpeg">
        <img src="../media/Berlin2019/19.jpeg">
        <img src="../media/Berlin2019/20.jpeg">
        <img src="../media/Berlin2019/21.jpeg">
        <img src="../media/Berlin2019/22.jpeg">
        <img src="../media/Berlin2019/23.jpeg">
        <img src="../media/Berlin2019/24.jpeg">
        <img src="../media/Berlin2019/25.jpeg">
        <img src="../media/Berlin2019/26.jpeg">
        <img src="../media/Berlin2019/27.jpeg">
        <img src="../media/Berlin2019/28.jpeg">
        <img src="../media/Berlin2019/29.jpeg">
        <img src="../media/Berlin2019/31.jpeg">
        <img src="../media/Berlin2019/32.jpeg">
        <img src="../media/Berlin2019/33.jpeg">
        <img src="../media/Berlin2019/34.jpeg">
        <img src="../media/Berlin2019/35.jpeg">
        <img src="../media/Berlin2019/36.jpeg">
        <img src="../media/Berlin2019/37.jpeg">
        <img src="../media/Berlin2019/38.jpeg">
        <img src="../media/Berlin2019/39.jpeg">
        <img src="../media/Berlin2019/40.jpeg">
        <img src="../media/Berlin2019/41.jpeg">
        <img src="../media/Berlin2019/42.jpeg">
        <img src="../media/Berlin2019/43.jpeg">
        <img src="../media/Berlin2019/44.jpeg">
        <img src="../media/Berlin2019/45.jpeg">
    </main>
    <footer>
        <hr />
        <span style='float:right'>
            <a href='impressum.html'>[Impressum]</a>
            <br/>
        </span>
        <b>huaqo</b> © 2023
    </footer>
</body>
