<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name='thumbnail' content='../media/thumbnail.png' />
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <link rel='stylesheet' type='text/css' href='main.css'>
    <link rel='shortcut icon' type='image/png' href='../media/thumbnail.png'>
    <script defer src="script.js"></script>
    <title>Rofangebirge</title>
</head>

<body>

    <header>
        <a href='../index.html'><img src='../media/thumbnail.png' alt='huaqo' height='50'></a>
    </header>

    <main>
        <h2>Rofangebirge</h2>
        <p>September 2019</p>
        <p>A trip to the Rofangebirge near the Achensee.</p>
        <img src="../media/rofangebirge/1.jpeg">
        <img src="../media/rofangebirge/2.jpeg">
        <img src="../media/rofangebirge/3.jpeg">
        <img src="../media/rofangebirge/4.jpeg">
        <img src="../media/rofangebirge/5.jpeg">
        <img src="../media/rofangebirge/6.jpeg">
        <img src="../media/rofangebirge/7.jpeg">
        <img src="../media/rofangebirge/8.jpeg">
        <img src="../media/rofangebirge/9.jpeg">
        <img src="../media/rofangebirge/10.jpeg">
        <img src="../media/rofangebirge/11.jpeg">
        <img src="../media/rofangebirge/12.jpeg">
        <img src="../media/rofangebirge/13.jpeg">
        <img src="../media/rofangebirge/14.jpeg">
        <img src="../media/rofangebirge/15.jpeg">
    </main>
    <footer>
        <hr />
        <span style='float:right'>
            <a href='impressum.html'>[Impressum]</a>
            <br/>
        </span>
        <b>huaqo</b> © 2023
    </footer>
</body>
