<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name='thumbnail' content='../media/thumbnail.png' />
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <link rel='stylesheet' type='text/css' href='main.css'>
    <link rel='shortcut icon' type='image/png' href='../media/thumbnail.png'>
    <script defer src="script.js"></script>
    <title>Drachenberg</title>
</head>

<body>

    <header>
        <a href='../index.html'><img src='../media/thumbnail.png' alt='huaqo' height='50'></a>
    </header>

    <main>
        <h2>Drachenberg</h2>
        <p>28.11.2021</p>
        <p>Photos with <a href="https://ferenc.bodor.de">@Ferenc Bodor.</a> </p>
        <img src="../media/drachenberg/4G2A4513.jpg">
        <img src="../media/drachenberg/4G2A4542.jpg">
        <img src="../media/drachenberg/4G2A4526.jpg">
        <img src="../media/drachenberg/4G2A4530.jpg">
    </main>
    <footer>
        <hr />
        <span style='float:right'>
            <a href='impressum.html'>[Impressum]</a>
            <br/>
        </span>
        <b>huaqo</b> © 2023
    </footer>
</body>
