<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <meta name='thumbnail' content='../media/thumbnail.png' />
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <link rel='stylesheet' type='text/css' href='main.css'>
    <link rel='shortcut icon' type='image/png' href='../media/thumbnail.png'>
    <script defer src="script.js"></script>
    <title>Hambacher Forst</title>
</head>

<body>
    <header>
        <a href='../index.html'><img src='../media/thumbnail.png' alt='huaqo' height='50'></a>
    </header>
    <main>
        <h2>Hambacher Forst</h2>
        <p>16.04.2021</p>
        <img src="../media/hambacher-forst/4G2A4847.jpeg">
        <img src="../media/hambacher-forst/4G2A4858.jpeg">
        <img src="../media/hambacher-forst/4G2A4848.jpeg">
        <img src="../media/hambacher-forst/4G2A4814.jpeg">
        <img src="../media/hambacher-forst/4G2A4839.jpeg">
        <img src="../media/hambacher-forst/4G2A4817.jpeg">
        <img src="../media/hambacher-forst/4G2A4821.jpeg">
        <img src="../media/hambacher-forst/4G2A4829.jpeg">
        <img src="../media/hambacher-forst/4G2A4819.jpeg">
    </main>
    <footer>
        <hr />
        <span style='float:right'>
            <a href='impressum.html'>[Impressum]</a>
            <br/>
        </span>
        <b>huaqo</b> © 2023
    </footer>
</body>
