<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name='thumbnail' content='../media/thumbnail.png' />
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <link rel='stylesheet' type='text/css' href='main.css'>
    <link rel='shortcut icon' type='image/png' href='../media/thumbnail.png'>
    <script defer src="script.js"></script>
    <title>Mexico</title>
</head>

<body>

    <header>
        <a href='../index.html'><img src='../media/thumbnail.png' alt='huaqo' height='50'></a>
    </header>

    <main>
        <h2>Mexico</h2>
        <p>28.10.2021</p>
        <p>A month in Mexico. Recorded with the Canon AE-1 and various analog films.</p>
        <img src="../media/mexico/R1-09066-0022.JPG">
        <img src="../media/mexico/R1-09066-0024.jpeg">
        <img src="../media/mexico/R1-09066-0031.JPG">
        <img src="../media/mexico/R1-09066-0036.JPG">
        <img src="../media/mexico/000074040031.jpeg">
        <img src="../media/mexico/000074040022.jpeg">
        <img src="../media/mexico/000074040024.jpeg">
        <img src="../media/mexico/R1-09064-0012.JPG">
        <img src="../media/mexico/R1-09064-0014.JPG">
        <img src="../media/mexico/R1-09064-0021.JPG">
        <img src="../media/mexico/R1-09064-0023.JPG">
        <img src="../media/mexico/R1-09065-0001.JPG">
        <img src="../media/mexico/000074040016.jpeg">
        <img src="../media/mexico/R1-09064-0007.jpeg">                                                                               ">
        <img src="../media/mexico/R1-09064-0009.jpeg">
        <img src="../media/mexico/R1-09064-0006.JPG">
        <img src="../media/mexico/R1-09064-0025.jpeg">
        <img src="../media/mexico/000001.jpeg">
        <img src="../media/mexico/000002.jpeg">
        <img src="../media/mexico/000006.jpeg">
        <img src="../media/mexico/000036.jpeg">
        <img src="../media/mexico/000039.jpeg">
        <img src="../media/mexico/000041.jpeg">
        <img src="../media/mexico/000042.jpeg">
        <img src="../media/mexico/000043.jpeg">
        <img src="../media/mexico/000045.jpeg">
        <img src="../media/mexico/000050.jpeg">
        <img src="../media/mexico/000051.jpeg">
    </main>
    <footer>
        <hr />
        <span style='float:right'>
            <a href='impressum.html'>[Impressum]</a>
            <br/>
        </span>
        <b>huaqo</b> © 2023
    </footer>
</body>
