<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name='thumbnail' content='../media/thumbnail.png' />
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <link rel='stylesheet' type='text/css' href='main.css'>
    <link rel='shortcut icon' type='image/png' href='../media/thumbnail.png'>
    <script defer src="script.js"></script>
    <title>Berlin 2020</title>
</head>

<body>

    <header>
        <a href='../index.html'><img src='../media/thumbnail.png' alt='huaqo' height='50'></a>
    </header>

    <main>
        <h2>Berlin</h2>
        <p>2020</p>
        <p>A collection of street photos i took over the year.</p>
        <img src="../media/Berlin2020/1.jpeg">
        <img src="../media/Berlin2020/2.jpeg">
        <img src="../media/Berlin2020/3.jpeg">
        <img src="../media/Berlin2020/4.jpeg">
        <img src="../media/Berlin2020/5.jpeg">
        <img src="../media/Berlin2020/6.jpeg">
        <img src="../media/Berlin2020/7.jpeg">
        <img src="../media/Berlin2020/8.jpeg">
        <img src="../media/Berlin2020/9.jpeg">
        <img src="../media/Berlin2020/10.jpeg">
        <img src="../media/Berlin2020/11.jpeg">
        <img src="../media/Berlin2020/12.jpeg">
        <img src="../media/Berlin2020/13.jpeg">
        <img src="../media/Berlin2020/14.jpeg">
        <img src="../media/Berlin2020/15.jpeg">
        <img src="../media/Berlin2020/16.jpeg">
        <img src="../media/Berlin2020/17.jpeg">
        <img src="../media/Berlin2020/18.jpeg">
        <img src="../media/Berlin2020/19.jpeg">
        <img src="../media/Berlin2020/20.jpeg">
        <img src="../media/Berlin2020/21.jpeg">
        <img src="../media/Berlin2020/22.jpeg">
        <img src="../media/Berlin2020/23.jpeg">
        <img src="../media/Berlin2020/24.jpeg">
    </main>
    <footer>
        <hr />
        <span style='float:right'>
            <a href='impressum.html'>[Impressum]</a>
            <br/>
        </span>
        <b>huaqo</b> © 2023
    </footer>
</body>