<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name='thumbnail' content='../media/thumbnail.png' />
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <link rel='stylesheet' type='text/css' href='main.css'>
    <link rel='shortcut icon' type='image/png' href='../media/thumbnail.png'>
    <script defer src="script.js"></script>
    <title>Königstein</title>
</head>

<body>

    <header>
        <a href='../index.html'><img src='../media/thumbnail.png' alt='huaqo' height='50'></a>
    </header>

    <main>
        <h2>Königstein</h2>
        <p>September 2020</p>
        <p>A trip to Königstein and Sächsische Schweiz.</p>
        <img src="../media/koenigstein2020/1.jpeg">
        <img src="../media/koenigstein2020/2.jpeg">
        <img src="../media/koenigstein2020/3.jpeg">
        <img src="../media/koenigstein2020/4.jpeg">
        <img src="../media/koenigstein2020/5.jpeg">
        <img src="../media/koenigstein2020/6.jpeg">
        <img src="../media/koenigstein2020/7.jpeg">
        <img src="../media/koenigstein2020/8.jpeg">
        <img src="../media/koenigstein2020/9.jpeg">
        <img src="../media/koenigstein2020/10.jpeg">
    </main>
    <footer>
        <hr />
        <span style='float:right'>
            <a href='impressum.html'>[Impressum]</a>
            <br/>
        </span>
        <b>huaqo</b> © 2023
    </footer>
</body>
