{% include 'head_blog.html'%}
<body>
    {% include 'header.html'%}
    <main id="main">
        {% include 'blog_hero.html'%}
        <section id="projects" class="projects">
            <div class="wrapper projects__wrapper">
                <div class="projects__grid">
                    <h2 class="projects__headline header-xl">Blog</h2>
                    <a href="#contact" class="projects__contact underline"></a>
                    {% for page in pages|sort(attribute='date', reverse=True) %}                            
                            <div class="projects__item">
                                <h3><a href="{{ page.url }}" class="projects__name">{{ page.title }}</a></h3>
                                <p>{{ page['date'] }} {{page.description}}</p>
                                <p class="projects__tags">
                                    <span>{{page.tags}}</span>
                                </p>
                            </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
    {% include 'blog_contact.html'%}
    {% include 'footer.html'%}
</body>
