<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name='thumbnail' content="{{ url_for('static', filename='images/thumbnail.png') }}"/>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel='shortcut icon' type='image/png' href="{{ url_for('static', filename='images/thumbnail.png') }}">
    <script defer="" src="{{ url_for('static', filename='javascript/script.js') }}"></script>
    <title>huaqo</title>
</head>
<header>
</header>