<section class="hero">
    <div class="wrapper hero__wrapper bottom-border">
        <div class="hero__content">
            <picture>
                <source
                    media="(min-width: 62.5em)"
                    srcset="/assets/images/image-profile-desktop.webp"
                />
                <source
                    media="(min-width: 37.5em)"
                    srcset="/assets/images/image-profile-tablet.webp"
                />
                <img
                    class="hero__image"
                    src="/assets/images/image-profile-mobile.webp"
                    alt="picture of Adam Keyes"
                    width-="174"
                    height="383"
                />
            </picture>
            <img
                class="hero__rings"
                src="/assets/images/pattern-rings.svg"
                alt=""
                width="530"
                height="129"
            />
            <img
                class="hero__circle"
                src="/assets/images/pattern-circle.svg"
                alt=""
                width="129"
                height="129"
            />

            <div class="hero__text">
                <h1 class="hero__headline header-xl">
                    Nice to<br />
                    meet you! I'm <span>Joaquin Gottlebe</span>.
                </h1>
                <p class="hero__description">
                    A developer, based in Berlin, passionate about building
                    things that i love.
                </p>
                <a href="#contact" class="hero__contact underline"
                    >Contact me</a
                >
            </div>
        </div>
    </div>
</section>
