{% include 'head.html'%}
<body>
    {% include 'header.html'%}
    <main id="main">
        {% include 'hero.html'%} {% include 'skills.html'%} {% include
        'projects.html'%} {% include 'contact.html'%}
    </main>
    {% include 'footer.html'%}
    <script>
        if (window.netlifyIdentity) {
          window.netlifyIdentity.on("init", user => {
            if (!user) {
              window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
              });
            }
          });
        }
    </script>
</body>
