<!DOCTYPE html>
<html lang="en">
    {% include 'head.html'%}
    <body>
        {% include 'header.html'%}
        {% include 'post_hero.html'%}
        <main id="main">
            <div id="blog-background">
                <div class="wrapper" id="blog-container">

                    <section id="blog" class="blog">{{ content|safe }}</section>
                </div>
            </div>
        </main>
        {% include 'blog_contact.html'%}
        {% include 'footer.html'%}
    </body>
</html>
