{% include 'head.html' %}
{% include 'nav.html' %}
<main>
    <h2>Data Is Beautiful</h2>
    <img id="17112022" src="{{ url_for('static', filename='images/dev_1.gif') }}" >
    <p>17.11.2022 | made with <a href="https://earthengine.google.com">Google Earth Engine</a> and <a href="https://www.javascript.com">Javascript</a>.<br />
    <p>Amazon vegetation index (NDVI) over a year from 2021 - 2022. Google Earth Engine and MODIS satellite data were used to create this image. Dark green has a high index, indicating that there is a lot of vegetation going on. Light green shows weak vegetation activity. The normalized difference vegetation index (NDVI) is a simple graphical indicator that can be used to analyze remote sensing measurements, often from a space platform, assessing whether or not the target being observed contains live green vegetation.</p>
    <a href="#17112022" title="Permanent link">Link to image</a></p><br/>
</main>
